# Environment
.env
.env.local
*.pkey
.env.example

# Node
node_modules/
.next/
dist/
build/
*.tsbuildinfo

# Flow
.flow/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
